body {
  font-family: "Hiragino Kaku Gothic ProN", Arial, sans-serif;
}

.header {
  padding: 1em;
  background-color: #0466e0;
  color: #fff;
  text-align: center;
}

.header .header-title {
  font-size: 320%;
  margin-bottom: 0;
}

.header .version {
  font-size: 25%;
  font-weight: normal;
}

.header .header-description {
  margin-top: 0;
}

.header .header-nav {
  margin: 0;
  padding: 0;
  margin-top: 3em;
}

.header .header-nav li {
  font-size: 90%;
  display: inline;
  list-style: none;
  margin-right: 1.2rem;
}

.header a {
  color: #fff;
}

h2 {
  border-bottom: solid 1px #ccc;
}

.grid,
[class*="grid--"] {
  background: #a5c3e2;
}

[class*="grid__col"] {
  background: #0e72da;
  border: 1px solid #130e7d;
  padding: .4em;
  color: #fff;
  text-align: center;
}

.grid {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid .grid__col {
  box-sizing: border-box;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid .grid__col--auto {
  box-sizing: border-box;
  max-width: 100%;
  width: auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid .grid__col--equal {
  box-sizing: border-box;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid .grid__col--fixed {
  box-sizing: border-box;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid .grid__col--none {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid .grid__col--initial {
  box-sizing: border-box;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid > .grid__col-4 {
  box-sizing: border-box;
  -webkit-flex: 0 0 32%;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid > .grid__col-5 {
  box-sizing: border-box;
  -webkit-flex: 0 0 40.5%;
  -ms-flex: 0 0 40.5%;
  flex: 0 0 40.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid > .grid__col-6 {
  box-sizing: border-box;
  -webkit-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid > .grid__col-7 {
  box-sizing: border-box;
  -webkit-flex: 0 0 57.5%;
  -ms-flex: 0 0 57.5%;
  flex: 0 0 57.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid > .grid__col-8 {
  box-sizing: border-box;
  -webkit-flex: 0 0 66%;
  -ms-flex: 0 0 66%;
  flex: 0 0 66%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid > .grid__col-9 {
  box-sizing: border-box;
  -webkit-flex: 0 0 74.5%;
  -ms-flex: 0 0 74.5%;
  flex: 0 0 74.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid > .grid__col-10 {
  box-sizing: border-box;
  -webkit-flex: 0 0 83%;
  -ms-flex: 0 0 83%;
  flex: 0 0 83%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid > .grid__col-11 {
  box-sizing: border-box;
  -webkit-flex: 0 0 91.5%;
  -ms-flex: 0 0 91.5%;
  flex: 0 0 91.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid > .grid__col-12 {
  box-sizing: border-box;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--multi-line {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.grid--multi-line .grid__col {
  box-sizing: border-box;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--multi-line > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--multi-line > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--multi-line > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--multi-line > .grid__col-4 {
  box-sizing: border-box;
  -webkit-flex: 0 0 32%;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--multi-line > .grid__col-5 {
  box-sizing: border-box;
  -webkit-flex: 0 0 40.5%;
  -ms-flex: 0 0 40.5%;
  flex: 0 0 40.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--multi-line > .grid__col-6 {
  box-sizing: border-box;
  -webkit-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--multi-line > .grid__col-7 {
  box-sizing: border-box;
  -webkit-flex: 0 0 57.5%;
  -ms-flex: 0 0 57.5%;
  flex: 0 0 57.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--multi-line > .grid__col-8 {
  box-sizing: border-box;
  -webkit-flex: 0 0 66%;
  -ms-flex: 0 0 66%;
  flex: 0 0 66%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--multi-line > .grid__col-9 {
  box-sizing: border-box;
  -webkit-flex: 0 0 74.5%;
  -ms-flex: 0 0 74.5%;
  flex: 0 0 74.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--multi-line > .grid__col-10 {
  box-sizing: border-box;
  -webkit-flex: 0 0 83%;
  -ms-flex: 0 0 83%;
  flex: 0 0 83%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--multi-line > .grid__col-11 {
  box-sizing: border-box;
  -webkit-flex: 0 0 91.5%;
  -ms-flex: 0 0 91.5%;
  flex: 0 0 91.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--multi-line > .grid__col-12 {
  box-sizing: border-box;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-right: 2%;
  margin-bottom: 2%;
}

ul.grid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

ul.grid li {
  list-style: none;
  padding: 2em;
}

.grid--no-margin {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid--no-margin .grid__col {
  box-sizing: border-box;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.grid--no-margin > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
}

.grid--no-margin > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
}

.grid--no-margin > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.grid--no-margin > .grid__col-4 {
  box-sizing: border-box;
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
}

.grid--no-margin > .grid__col-5 {
  box-sizing: border-box;
  -webkit-flex: 0 0 41.66667%;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
}

.grid--no-margin > .grid__col-6 {
  box-sizing: border-box;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.grid--no-margin > .grid__col-7 {
  box-sizing: border-box;
  -webkit-flex: 0 0 58.33333%;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
}

.grid--no-margin > .grid__col-8 {
  box-sizing: border-box;
  -webkit-flex: 0 0 66.66667%;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
}

.grid--no-margin > .grid__col-9 {
  box-sizing: border-box;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
}

.grid--no-margin > .grid__col-10 {
  box-sizing: border-box;
  -webkit-flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
}

.grid--no-margin > .grid__col-11 {
  box-sizing: border-box;
  -webkit-flex: 0 0 91.66667%;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
}

.grid--no-margin > .grid__col-12 {
  box-sizing: border-box;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.grid--condensed {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid--condensed .grid__col {
  box-sizing: border-box;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-right: 2%;
}

.grid--condensed > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
}

.grid--condensed > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
}

.grid--condensed > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
}

.grid--condensed > .grid__col-4 {
  box-sizing: border-box;
  -webkit-flex: 0 0 32%;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  margin-right: 2%;
}

.grid--condensed > .grid__col-5 {
  box-sizing: border-box;
  -webkit-flex: 0 0 40.5%;
  -ms-flex: 0 0 40.5%;
  flex: 0 0 40.5%;
  margin-right: 2%;
}

.grid--condensed > .grid__col-6 {
  box-sizing: border-box;
  -webkit-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-right: 2%;
}

.grid--condensed > .grid__col-7 {
  box-sizing: border-box;
  -webkit-flex: 0 0 57.5%;
  -ms-flex: 0 0 57.5%;
  flex: 0 0 57.5%;
  margin-right: 2%;
}

.grid--condensed > .grid__col-8 {
  box-sizing: border-box;
  -webkit-flex: 0 0 66%;
  -ms-flex: 0 0 66%;
  flex: 0 0 66%;
  margin-right: 2%;
}

.grid--condensed > .grid__col-9 {
  box-sizing: border-box;
  -webkit-flex: 0 0 74.5%;
  -ms-flex: 0 0 74.5%;
  flex: 0 0 74.5%;
  margin-right: 2%;
}

.grid--condensed > .grid__col-10 {
  box-sizing: border-box;
  -webkit-flex: 0 0 83%;
  -ms-flex: 0 0 83%;
  flex: 0 0 83%;
  margin-right: 2%;
}

.grid--condensed > .grid__col-11 {
  box-sizing: border-box;
  -webkit-flex: 0 0 91.5%;
  -ms-flex: 0 0 91.5%;
  flex: 0 0 91.5%;
  margin-right: 2%;
}

.grid--condensed > .grid__col-12 {
  box-sizing: border-box;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-right: 2%;
}

.grid--row-reverse {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row-reverse nowrap;
  -ms-flex-flow: row-reverse nowrap;
  flex-flow: row-reverse nowrap;
}

.grid--row-reverse > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row-reverse > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row-reverse > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row-reverse > .grid__col-4 {
  box-sizing: border-box;
  -webkit-flex: 0 0 32%;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row-reverse > .grid__col-5 {
  box-sizing: border-box;
  -webkit-flex: 0 0 40.5%;
  -ms-flex: 0 0 40.5%;
  flex: 0 0 40.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row-reverse > .grid__col-6 {
  box-sizing: border-box;
  -webkit-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row-reverse > .grid__col-7 {
  box-sizing: border-box;
  -webkit-flex: 0 0 57.5%;
  -ms-flex: 0 0 57.5%;
  flex: 0 0 57.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row-reverse > .grid__col-8 {
  box-sizing: border-box;
  -webkit-flex: 0 0 66%;
  -ms-flex: 0 0 66%;
  flex: 0 0 66%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row-reverse > .grid__col-9 {
  box-sizing: border-box;
  -webkit-flex: 0 0 74.5%;
  -ms-flex: 0 0 74.5%;
  flex: 0 0 74.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row-reverse > .grid__col-10 {
  box-sizing: border-box;
  -webkit-flex: 0 0 83%;
  -ms-flex: 0 0 83%;
  flex: 0 0 83%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row-reverse > .grid__col-11 {
  box-sizing: border-box;
  -webkit-flex: 0 0 91.5%;
  -ms-flex: 0 0 91.5%;
  flex: 0 0 91.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row-reverse > .grid__col-12 {
  box-sizing: border-box;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.grid--row > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row-reverse {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row-reverse nowrap;
  -ms-flex-flow: row-reverse nowrap;
  flex-flow: row-reverse nowrap;
}

.grid--row-reverse > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row-reverse > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--row-reverse > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--column {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.grid--column > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--column > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--column > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--column-reverse {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column-reverse nowrap;
  -ms-flex-flow: column-reverse nowrap;
  flex-flow: column-reverse nowrap;
}

.grid--column-reverse > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--column-reverse > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--column-reverse > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--left-row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.grid--left-row > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--left-row > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--left-row > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--center-row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.grid--center-row > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--center-row > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--center-row > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--right-row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.grid--right-row > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--right-row > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--right-row > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--space-around-row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.grid--space-around-row > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--space-around-row > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--space-around-row > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--space-between-row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.grid--space-between-row > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--space-between-row > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--space-between-row > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--top-row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.grid--top-row > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--top-row > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--top-row > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--middle-row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid--middle-row > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--middle-row > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--middle-row > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--bottom-row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.grid--bottom-row > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--bottom-row > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--bottom-row > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--stretch-row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.grid--stretch-row > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--stretch-row > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--stretch-row > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--baseline-row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.grid--baseline-row > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--baseline-row > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--baseline-row > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--column-alignment {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid--column-alignment > .grid__col {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  -webkit-align-self: none;
  -ms-flex-item-align: none;
  align-self: none;
  margin-right: 2%;
}

.grid--column-alignment > .grid__col-top {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-right: 2%;
}

.grid--column-alignment > .grid__col-middle {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-right: 2%;
}

.grid--column-alignment > .grid__col-bottom {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 2%;
}

.grid--column-alignment > .grid__col-stretch {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  margin-right: 2%;
}

.grid--column-alignment > .grid__col-baseline {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  margin-right: 2%;
}

.grid--order {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid--order > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--order > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--order > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--order > .grid__col-4 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--order > .grid__col-5 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  margin-right: 2%;
  margin-bottom: 2%;
}

.grid--multi-line-top {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  height: 18em;
}

.grid--multi-line-top > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
}

.grid--multi-line-top > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
}

.grid--multi-line-top > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
}

.grid--multi-line-top > .grid__col-4 {
  box-sizing: border-box;
  -webkit-flex: 0 0 32%;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  margin-right: 2%;
}

.grid--multi-line-top > .grid__col-5 {
  box-sizing: border-box;
  -webkit-flex: 0 0 40.5%;
  -ms-flex: 0 0 40.5%;
  flex: 0 0 40.5%;
  margin-right: 2%;
}

.grid--multi-line-top > .grid__col-6 {
  box-sizing: border-box;
  -webkit-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-right: 2%;
}

.grid--multi-line-middle {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 18em;
}

.grid--multi-line-middle > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
}

.grid--multi-line-middle > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
}

.grid--multi-line-middle > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
}

.grid--multi-line-middle > .grid__col-4 {
  box-sizing: border-box;
  -webkit-flex: 0 0 32%;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  margin-right: 2%;
}

.grid--multi-line-middle > .grid__col-5 {
  box-sizing: border-box;
  -webkit-flex: 0 0 40.5%;
  -ms-flex: 0 0 40.5%;
  flex: 0 0 40.5%;
  margin-right: 2%;
}

.grid--multi-line-middle > .grid__col-6 {
  box-sizing: border-box;
  -webkit-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-right: 2%;
}

.grid--multi-line-bottom {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  height: 18em;
}

.grid--multi-line-bottom > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
}

.grid--multi-line-bottom > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
}

.grid--multi-line-bottom > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
}

.grid--multi-line-bottom > .grid__col-4 {
  box-sizing: border-box;
  -webkit-flex: 0 0 32%;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  margin-right: 2%;
}

.grid--multi-line-bottom > .grid__col-5 {
  box-sizing: border-box;
  -webkit-flex: 0 0 40.5%;
  -ms-flex: 0 0 40.5%;
  flex: 0 0 40.5%;
  margin-right: 2%;
}

.grid--multi-line-bottom > .grid__col-6 {
  box-sizing: border-box;
  -webkit-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-right: 2%;
}

.grid--multi-line-space-between {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  height: 18em;
}

.grid--multi-line-space-between > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
}

.grid--multi-line-space-between > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
}

.grid--multi-line-space-between > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
}

.grid--multi-line-space-between > .grid__col-4 {
  box-sizing: border-box;
  -webkit-flex: 0 0 32%;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  margin-right: 2%;
}

.grid--multi-line-space-between > .grid__col-5 {
  box-sizing: border-box;
  -webkit-flex: 0 0 40.5%;
  -ms-flex: 0 0 40.5%;
  flex: 0 0 40.5%;
  margin-right: 2%;
}

.grid--multi-line-space-between > .grid__col-6 {
  box-sizing: border-box;
  -webkit-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-right: 2%;
}

.grid--multi-line-space-around {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  height: 18em;
}

.grid--multi-line-space-around > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
}

.grid--multi-line-space-around > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
}

.grid--multi-line-space-around > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
}

.grid--multi-line-space-around > .grid__col-4 {
  box-sizing: border-box;
  -webkit-flex: 0 0 32%;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  margin-right: 2%;
}

.grid--multi-line-space-around > .grid__col-5 {
  box-sizing: border-box;
  -webkit-flex: 0 0 40.5%;
  -ms-flex: 0 0 40.5%;
  flex: 0 0 40.5%;
  margin-right: 2%;
}

.grid--multi-line-space-around > .grid__col-6 {
  box-sizing: border-box;
  -webkit-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-right: 2%;
}

.grid--multi-line-stretch {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 18em;
}

.grid--multi-line-stretch > .grid__col-1 {
  box-sizing: border-box;
  -webkit-flex: 0 0 6.5%;
  -ms-flex: 0 0 6.5%;
  flex: 0 0 6.5%;
  margin-right: 2%;
}

.grid--multi-line-stretch > .grid__col-2 {
  box-sizing: border-box;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  margin-right: 2%;
}

.grid--multi-line-stretch > .grid__col-3 {
  box-sizing: border-box;
  -webkit-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
  margin-right: 2%;
}

.grid--multi-line-stretch > .grid__col-4 {
  box-sizing: border-box;
  -webkit-flex: 0 0 32%;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  margin-right: 2%;
}

.grid--multi-line-stretch > .grid__col-5 {
  box-sizing: border-box;
  -webkit-flex: 0 0 40.5%;
  -ms-flex: 0 0 40.5%;
  flex: 0 0 40.5%;
  margin-right: 2%;
}

.grid--multi-line-stretch > .grid__col-6 {
  box-sizing: border-box;
  -webkit-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-right: 2%;
}

[class*="grid__col"]:last-child {
  margin-right: 0;
}

.grid--row-reverse [class*="grid__col"]:first-child {
  margin-right: 0;
}

.grid--row-reverse [class*="grid__col"]:last-child {
  margin-right: 2%;
}

.grid--column [class*="grid__col"],
.grid--column-reverse [class*="grid__col"] {
  margin: 0;
}
