@use '../../dart-sass/flexbox-grid-mixins';

[class*="grid--"] {
  background: #a5c3e2;
}

[class*="grid__col"] {
  border: none;
  padding: 0;
}

$default-grid-columns: 12;
$default-grid-gutter: 2%;

.grid--default {
  @include flexbox-grid-mixins.grid($gutter: $default-grid-gutter);

  @for $i from 1 through $default-grid-columns {
    > .grid__col-#{$i} {
      @include flexbox-grid-mixins.grid-col($col: $i, $gutter: $default-grid-gutter);
    }
  }
}
