@use '../../dart-sass/flexbox-grid-mixins' with (
  $flexbox-grid-mixins-stack: margin-bottom
);

$default-grid-columns: 12;
$default-grid-gutter: 2%;

.grid--margin-bottom {
  @include flexbox-grid-mixins.grid($gutter: $default-grid-gutter);

  @for $i from 1 through $default-grid-columns {
    > .grid__col-#{$i} {
      @include flexbox-grid-mixins.grid-col($col: $i, $gutter: $default-grid-gutter);
    }
  }
}

.grid-condense--margin-bottom {
  @include flexbox-grid-mixins.grid($gutter: $default-grid-gutter);

  @for $i from 1 through $default-grid-columns {
    > .grid__col-#{$i} {
      @include flexbox-grid-mixins.grid-col($col: $i, $gutter: $default-grid-gutter, $condense: true);
    }
  }
}
