.grid,
[class*=grid--] {
  background: #a5c3e2;
}

[class*=grid__col] {
  background: #0e72da;
  border: 1px solid #130e7d;
  padding: 0.4em;
  color: #fff;
  text-align: center;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1%;
  margin-right: -1%;
}
.grid > .grid__col-1 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 6.3333333333%;
  flex: 0 0 6.3333333333%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}
.grid > .grid__col-2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 14.6666666667%;
  flex: 0 0 14.6666666667%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}
.grid > .grid__col-3 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}
.grid > .grid__col-4 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 31.3333333333%;
  flex: 0 0 31.3333333333%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}
.grid > .grid__col-5 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 39.6666666667%;
  flex: 0 0 39.6666666667%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}
.grid > .grid__col-6 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}
.grid > .grid__col-7 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 56.3333333333%;
  flex: 0 0 56.3333333333%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}
.grid > .grid__col-8 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64.6666666667%;
  flex: 0 0 64.6666666667%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}
.grid > .grid__col-9 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 73%;
  flex: 0 0 73%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}
.grid > .grid__col-10 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 81.3333333333%;
  flex: 0 0 81.3333333333%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}
.grid > .grid__col-11 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 89.6666666667%;
  flex: 0 0 89.6666666667%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}
.grid > .grid__col-12 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 98%;
  flex: 0 0 98%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}