.grid--auto-margin {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}
.grid--auto-margin > .grid__col {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.6666666667%;
  flex: 0 0 16.6666666667%;
}
.grid--auto-margin > .grid__col.left {
  margin-right: auto;
}
.grid--auto-margin > .grid__col.right {
  margin-left: auto;
}

.grid--pagination {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.grid--pagination > .grid__col {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49.1666666667%;
  flex: 0 0 49.1666666667%;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.grid--pagination > .grid__col.left {
  text-align: left;
  margin-right: auto;
}
.grid--pagination > .grid__col.right {
  text-align: right;
  margin-left: auto;
}