.grid,
.grid-3-columns,
.grid-24-columns,
[class*="grid--"] {
  background: #a5c3e2;
}

[class*="grid__col"] {
  background: #0e72da;
  border: 1px solid #130e7d;
  padding: .4em;
  color: #fff;
  text-align: center;
}

.grid {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1%;
}

.grid .grid__col {
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0 1% 2%;
}

.grid .grid__col--null {
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0 1% 2%;
}

.grid .grid__col--auto {
  box-sizing: border-box;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 1% 2%;
}

.grid .grid__col--equal {
  box-sizing: border-box;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  margin: 0 1% 2%;
}

.grid .grid__col--fixed {
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0 1% 2%;
}

.grid .grid__col--none {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 1% 2%;
}

.grid .grid__col--initial {
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0 1% 2%;
}

.grid .grid__col--positive {
  box-sizing: border-box;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  margin: 0 1% 2%;
}

.grid .grid__col--positive-2 {
  box-sizing: border-box;
  -ms-flex: 2 0 0px;
  flex: 2 0 0;
  margin: 0 1% 2%;
}

.grid .grid__col--positive-3 {
  box-sizing: border-box;
  -ms-flex: 3 0 0px;
  flex: 3 0 0;
  margin: 0 1% 2%;
}

.grid .grid__col--positive-4 {
  box-sizing: border-box;
  -ms-flex: 4 0 0px;
  flex: 4 0 0;
  margin: 0 1% 2%;
}

.grid > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid > .grid__col-4 {
  box-sizing: border-box;
  -ms-flex: 0 0 31.33333%;
  flex: 0 0 31.33333%;
  margin: 0 1% 2%;
}

.grid > .grid__col-5 {
  box-sizing: border-box;
  -ms-flex: 0 0 39.66667%;
  flex: 0 0 39.66667%;
  margin: 0 1% 2%;
}

.grid > .grid__col-6 {
  box-sizing: border-box;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  margin: 0 1% 2%;
}

.grid > .grid__col-7 {
  box-sizing: border-box;
  -ms-flex: 0 0 56.33333%;
  flex: 0 0 56.33333%;
  margin: 0 1% 2%;
}

.grid > .grid__col-8 {
  box-sizing: border-box;
  -ms-flex: 0 0 64.66667%;
  flex: 0 0 64.66667%;
  margin: 0 1% 2%;
}

.grid > .grid__col-9 {
  box-sizing: border-box;
  -ms-flex: 0 0 73%;
  flex: 0 0 73%;
  margin: 0 1% 2%;
}

.grid > .grid__col-10 {
  box-sizing: border-box;
  -ms-flex: 0 0 81.33333%;
  flex: 0 0 81.33333%;
  margin: 0 1% 2%;
}

.grid > .grid__col-11 {
  box-sizing: border-box;
  -ms-flex: 0 0 89.66667%;
  flex: 0 0 89.66667%;
  margin: 0 1% 2%;
}

.grid > .grid__col-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 98%;
  flex: 0 0 98%;
  margin: 0 1% 2%;
}

.grid-3-columns {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1%;
}

.grid-3-columns > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 31.33333%;
  flex: 0 0 31.33333%;
  margin: 0 1% 2%;
}

.grid-3-columns > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 64.66667%;
  flex: 0 0 64.66667%;
  margin: 0 1% 2%;
}

.grid-3-columns > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 98%;
  flex: 0 0 98%;
  margin: 0 1% 2%;
}

.grid-24-columns {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1%;
}

.grid-24-columns > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 2.16667%;
  flex: 0 0 2.16667%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 10.5%;
  flex: 0 0 10.5%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-4 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-5 {
  box-sizing: border-box;
  -ms-flex: 0 0 18.83333%;
  flex: 0 0 18.83333%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-6 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-7 {
  box-sizing: border-box;
  -ms-flex: 0 0 27.16667%;
  flex: 0 0 27.16667%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-8 {
  box-sizing: border-box;
  -ms-flex: 0 0 31.33333%;
  flex: 0 0 31.33333%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-9 {
  box-sizing: border-box;
  -ms-flex: 0 0 35.5%;
  flex: 0 0 35.5%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-10 {
  box-sizing: border-box;
  -ms-flex: 0 0 39.66667%;
  flex: 0 0 39.66667%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-11 {
  box-sizing: border-box;
  -ms-flex: 0 0 43.83333%;
  flex: 0 0 43.83333%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-13 {
  box-sizing: border-box;
  -ms-flex: 0 0 52.16667%;
  flex: 0 0 52.16667%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-14 {
  box-sizing: border-box;
  -ms-flex: 0 0 56.33333%;
  flex: 0 0 56.33333%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-15 {
  box-sizing: border-box;
  -ms-flex: 0 0 60.5%;
  flex: 0 0 60.5%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-16 {
  box-sizing: border-box;
  -ms-flex: 0 0 64.66667%;
  flex: 0 0 64.66667%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-17 {
  box-sizing: border-box;
  -ms-flex: 0 0 68.83333%;
  flex: 0 0 68.83333%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-18 {
  box-sizing: border-box;
  -ms-flex: 0 0 73%;
  flex: 0 0 73%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-19 {
  box-sizing: border-box;
  -ms-flex: 0 0 77.16667%;
  flex: 0 0 77.16667%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-20 {
  box-sizing: border-box;
  -ms-flex: 0 0 81.33333%;
  flex: 0 0 81.33333%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-21 {
  box-sizing: border-box;
  -ms-flex: 0 0 85.5%;
  flex: 0 0 85.5%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-22 {
  box-sizing: border-box;
  -ms-flex: 0 0 89.66667%;
  flex: 0 0 89.66667%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-23 {
  box-sizing: border-box;
  -ms-flex: 0 0 93.83333%;
  flex: 0 0 93.83333%;
  margin: 0 1% 2%;
}

.grid-24-columns > .grid__col-24 {
  box-sizing: border-box;
  -ms-flex: 0 0 98%;
  flex: 0 0 98%;
  margin: 0 1% 2%;
}

.grid--multi-line {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 -1%;
}

.grid--multi-line .grid__col {
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0 1% 2%;
}

.grid--multi-line > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--multi-line > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--multi-line > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--multi-line > .grid__col-4 {
  box-sizing: border-box;
  -ms-flex: 0 0 31.33333%;
  flex: 0 0 31.33333%;
  margin: 0 1% 2%;
}

.grid--multi-line > .grid__col-5 {
  box-sizing: border-box;
  -ms-flex: 0 0 39.66667%;
  flex: 0 0 39.66667%;
  margin: 0 1% 2%;
}

.grid--multi-line > .grid__col-6 {
  box-sizing: border-box;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  margin: 0 1% 2%;
}

.grid--multi-line > .grid__col-7 {
  box-sizing: border-box;
  -ms-flex: 0 0 56.33333%;
  flex: 0 0 56.33333%;
  margin: 0 1% 2%;
}

.grid--multi-line > .grid__col-8 {
  box-sizing: border-box;
  -ms-flex: 0 0 64.66667%;
  flex: 0 0 64.66667%;
  margin: 0 1% 2%;
}

.grid--multi-line > .grid__col-9 {
  box-sizing: border-box;
  -ms-flex: 0 0 73%;
  flex: 0 0 73%;
  margin: 0 1% 2%;
}

.grid--multi-line > .grid__col-10 {
  box-sizing: border-box;
  -ms-flex: 0 0 81.33333%;
  flex: 0 0 81.33333%;
  margin: 0 1% 2%;
}

.grid--multi-line > .grid__col-11 {
  box-sizing: border-box;
  -ms-flex: 0 0 89.66667%;
  flex: 0 0 89.66667%;
  margin: 0 1% 2%;
}

.grid--multi-line > .grid__col-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 98%;
  flex: 0 0 98%;
  margin: 0 1% 2%;
}

ul.grid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 -1%;
}

ul.grid li {
  list-style: none;
  padding: 2em;
}

.grid--no-margin {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
}

.grid--no-margin .grid__col {
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.grid--no-margin > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
}

.grid--no-margin > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
}

.grid--no-margin > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.grid--no-margin > .grid__col-4 {
  box-sizing: border-box;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
}

.grid--no-margin > .grid__col-5 {
  box-sizing: border-box;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
}

.grid--no-margin > .grid__col-6 {
  box-sizing: border-box;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.grid--no-margin > .grid__col-7 {
  box-sizing: border-box;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
}

.grid--no-margin > .grid__col-8 {
  box-sizing: border-box;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
}

.grid--no-margin > .grid__col-9 {
  box-sizing: border-box;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
}

.grid--no-margin > .grid__col-10 {
  box-sizing: border-box;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
}

.grid--no-margin > .grid__col-11 {
  box-sizing: border-box;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
}

.grid--no-margin > .grid__col-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.grid--condensed {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1%;
}

.grid--condensed .grid__col {
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0 1%;
}

.grid--condensed > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1%;
}

.grid--condensed > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1%;
}

.grid--condensed > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1%;
}

.grid--condensed > .grid__col-4 {
  box-sizing: border-box;
  -ms-flex: 0 0 31.33333%;
  flex: 0 0 31.33333%;
  margin: 0 1%;
}

.grid--condensed > .grid__col-5 {
  box-sizing: border-box;
  -ms-flex: 0 0 39.66667%;
  flex: 0 0 39.66667%;
  margin: 0 1%;
}

.grid--condensed > .grid__col-6 {
  box-sizing: border-box;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  margin: 0 1%;
}

.grid--condensed > .grid__col-7 {
  box-sizing: border-box;
  -ms-flex: 0 0 56.33333%;
  flex: 0 0 56.33333%;
  margin: 0 1%;
}

.grid--condensed > .grid__col-8 {
  box-sizing: border-box;
  -ms-flex: 0 0 64.66667%;
  flex: 0 0 64.66667%;
  margin: 0 1%;
}

.grid--condensed > .grid__col-9 {
  box-sizing: border-box;
  -ms-flex: 0 0 73%;
  flex: 0 0 73%;
  margin: 0 1%;
}

.grid--condensed > .grid__col-10 {
  box-sizing: border-box;
  -ms-flex: 0 0 81.33333%;
  flex: 0 0 81.33333%;
  margin: 0 1%;
}

.grid--condensed > .grid__col-11 {
  box-sizing: border-box;
  -ms-flex: 0 0 89.66667%;
  flex: 0 0 89.66667%;
  margin: 0 1%;
}

.grid--condensed > .grid__col-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 98%;
  flex: 0 0 98%;
  margin: 0 1%;
}

.grid--row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 -1%;
}

.grid--row > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--row > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--row > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--row-reverse {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin: 0 -1%;
}

.grid--row-reverse > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--row-reverse > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--row-reverse > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--column {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 -1%;
}

.grid--column > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  width: 6.33333%;
  margin: 0 1% 2%;
}

.grid--column > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  width: 14.66667%;
  margin: 0 1% 2%;
}

.grid--column > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  width: 23%;
  margin: 0 1% 2%;
}

.grid--column-reverse {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin: 0 -1%;
}

.grid--column-reverse > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  width: 6.33333%;
  margin: 0 1% 2%;
}

.grid--column-reverse > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  width: 14.66667%;
  margin: 0 1% 2%;
}

.grid--column-reverse > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  width: 23%;
  margin: 0 1% 2%;
}

.grid--wrap-null {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1%;
}

.grid--wrap-null > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--wrap-null > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--wrap-null > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--wrap-nowrap {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 -1%;
}

.grid--wrap-nowrap > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--wrap-nowrap > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--wrap-nowrap > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--wrap {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -1%;
}

.grid--wrap > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--wrap > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--wrap > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--wrap-reverse {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  margin: 0 -1%;
}

.grid--wrap-reverse > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--wrap-reverse > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--wrap-reverse > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--left-row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 -1%;
}

.grid--left-row > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--left-row > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--left-row > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--center-row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -1%;
}

.grid--center-row > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--center-row > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--center-row > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--right-row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 -1%;
}

.grid--right-row > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--right-row > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--right-row > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--space-between-row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -1%;
}

.grid--space-between-row > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--space-between-row > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--space-between-row > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--space-around-row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 -1%;
}

.grid--space-around-row > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--space-around-row > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--space-around-row > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--space-evenly-row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0 -1%;
}

.grid--space-evenly-row > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--space-evenly-row > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--space-evenly-row > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--top-row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 -1%;
}

.grid--top-row > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--top-row > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--top-row > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--middle-row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -1%;
}

.grid--middle-row > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--middle-row > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--middle-row > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--bottom-row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0 -1%;
}

.grid--bottom-row > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--bottom-row > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--bottom-row > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--stretch-row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0 -1%;
}

.grid--stretch-row > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--stretch-row > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--stretch-row > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--baseline-row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin: 0 -1%;
}

.grid--baseline-row > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1% 2%;
}

.grid--baseline-row > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--baseline-row > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--baseline-row > .grid__col-2 {
  padding: 30px 0;
}

.grid--centered-row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -1%;
  height: 18em;
}

.grid--centered-row > .grid__col-centered {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--items-row-alignment {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1%;
}

.grid--items-row-alignment > .grid__col {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-item-align: none;
  -ms-grid-row-align: none;
  align-self: none;
  margin: 0 1%;
}

.grid--items-row-alignment > .grid__col-top {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0 1%;
}

.grid--items-row-alignment > .grid__col-middle {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0 1%;
}

.grid--items-row-alignment > .grid__col-bottom {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 0 1%;
}

.grid--items-row-alignment > .grid__col-stretch {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  margin: 0 1%;
}

.grid--items-row-alignment > .grid__col-baseline {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  margin: 0 1%;
}

.grid--left-column {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 -1%;
}

.grid--left-column > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  width: 6.33333%;
  margin: 0 1% 2%;
}

.grid--left-column > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  width: 14.66667%;
  margin: 0 1% 2%;
}

.grid--left-column > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  width: 23%;
  margin: 0 1% 2%;
}

.grid--center-column {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -1%;
}

.grid--center-column > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  width: 6.33333%;
  margin: 0 1% 2%;
}

.grid--center-column > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  width: 14.66667%;
  margin: 0 1% 2%;
}

.grid--center-column > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  width: 23%;
  margin: 0 1% 2%;
}

.grid--right-column {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0 -1%;
}

.grid--right-column > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  width: 6.33333%;
  margin: 0 1% 2%;
}

.grid--right-column > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  width: 14.66667%;
  margin: 0 1% 2%;
}

.grid--right-column > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  width: 23%;
  margin: 0 1% 2%;
}

.grid--centered-column {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -1%;
  height: 18em;
}

.grid--centered-column > .grid__col-centered {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  width: 23%;
  margin: 0 1% 2%;
}

.grid--items-column-alignment {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 -1%;
}

.grid--items-column-alignment > .grid__col {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-item-align: none;
  -ms-grid-row-align: none;
  align-self: none;
  width: 14.66667%;
  margin: 0 1%;
}

.grid--items-column-alignment > .grid__col-top {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-item-align: start;
  align-self: flex-start;
  width: 14.66667%;
  margin: 0 1%;
}

.grid--items-column-alignment > .grid__col-middle {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 14.66667%;
  margin: 0 1%;
}

.grid--items-column-alignment > .grid__col-bottom {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 14.66667%;
  margin: 0 1%;
}

.grid--order-row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1%;
}

.grid--order-row > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-order: 1;
  order: 1;
  margin: 0 1% 2%;
}

.grid--order-row > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-order: 1;
  order: 1;
  margin: 0 1% 2%;
}

.grid--order-row > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1% 2%;
}

.grid--order-row > .grid__col-4 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-order: -1;
  order: -1;
  margin: 0 1% 2%;
}

.grid--order-row > .grid__col-5 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-order: -1;
  order: -1;
  margin: 0 1% 2%;
}

.grid--order-column {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 -1%;
}

.grid--order-column > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-order: 1;
  order: 1;
  width: 14.66667%;
  margin: 0 1% 2%;
}

.grid--order-column > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-order: 1;
  order: 1;
  width: 14.66667%;
  margin: 0 1% 2%;
}

.grid--order-column > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  width: 14.66667%;
  margin: 0 1% 2%;
}

.grid--order-column > .grid__col-4 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-order: -1;
  order: -1;
  width: 14.66667%;
  margin: 0 1% 2%;
}

.grid--order-column > .grid__col-5 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  -ms-flex-order: -1;
  order: -1;
  width: 14.66667%;
  margin: 0 1% 2%;
}

.grid--multi-line-top {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin: 0 -1%;
  height: 18em;
}

.grid--multi-line-top > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1%;
}

.grid--multi-line-top > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1%;
}

.grid--multi-line-top > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1%;
}

.grid--multi-line-top > .grid__col-4 {
  box-sizing: border-box;
  -ms-flex: 0 0 31.33333%;
  flex: 0 0 31.33333%;
  margin: 0 1%;
}

.grid--multi-line-top > .grid__col-5 {
  box-sizing: border-box;
  -ms-flex: 0 0 39.66667%;
  flex: 0 0 39.66667%;
  margin: 0 1%;
}

.grid--multi-line-top > .grid__col-6 {
  box-sizing: border-box;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  margin: 0 1%;
}

.grid--multi-line-middle {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 0 -1%;
  height: 18em;
}

.grid--multi-line-middle > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1%;
}

.grid--multi-line-middle > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1%;
}

.grid--multi-line-middle > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1%;
}

.grid--multi-line-middle > .grid__col-4 {
  box-sizing: border-box;
  -ms-flex: 0 0 31.33333%;
  flex: 0 0 31.33333%;
  margin: 0 1%;
}

.grid--multi-line-middle > .grid__col-5 {
  box-sizing: border-box;
  -ms-flex: 0 0 39.66667%;
  flex: 0 0 39.66667%;
  margin: 0 1%;
}

.grid--multi-line-middle > .grid__col-6 {
  box-sizing: border-box;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  margin: 0 1%;
}

.grid--multi-line-bottom {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  margin: 0 -1%;
  height: 18em;
}

.grid--multi-line-bottom > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1%;
}

.grid--multi-line-bottom > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1%;
}

.grid--multi-line-bottom > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1%;
}

.grid--multi-line-bottom > .grid__col-4 {
  box-sizing: border-box;
  -ms-flex: 0 0 31.33333%;
  flex: 0 0 31.33333%;
  margin: 0 1%;
}

.grid--multi-line-bottom > .grid__col-5 {
  box-sizing: border-box;
  -ms-flex: 0 0 39.66667%;
  flex: 0 0 39.66667%;
  margin: 0 1%;
}

.grid--multi-line-bottom > .grid__col-6 {
  box-sizing: border-box;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  margin: 0 1%;
}

.grid--multi-line-space-between {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  margin: 0 -1%;
  height: 18em;
}

.grid--multi-line-space-between > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1%;
}

.grid--multi-line-space-between > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1%;
}

.grid--multi-line-space-between > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1%;
}

.grid--multi-line-space-between > .grid__col-4 {
  box-sizing: border-box;
  -ms-flex: 0 0 31.33333%;
  flex: 0 0 31.33333%;
  margin: 0 1%;
}

.grid--multi-line-space-between > .grid__col-5 {
  box-sizing: border-box;
  -ms-flex: 0 0 39.66667%;
  flex: 0 0 39.66667%;
  margin: 0 1%;
}

.grid--multi-line-space-between > .grid__col-6 {
  box-sizing: border-box;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  margin: 0 1%;
}

.grid--multi-line-space-around {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  margin: 0 -1%;
  height: 18em;
}

.grid--multi-line-space-around > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1%;
}

.grid--multi-line-space-around > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1%;
}

.grid--multi-line-space-around > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1%;
}

.grid--multi-line-space-around > .grid__col-4 {
  box-sizing: border-box;
  -ms-flex: 0 0 31.33333%;
  flex: 0 0 31.33333%;
  margin: 0 1%;
}

.grid--multi-line-space-around > .grid__col-5 {
  box-sizing: border-box;
  -ms-flex: 0 0 39.66667%;
  flex: 0 0 39.66667%;
  margin: 0 1%;
}

.grid--multi-line-space-around > .grid__col-6 {
  box-sizing: border-box;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  margin: 0 1%;
}

.grid--multi-line-stretch {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  margin: 0 -1%;
  height: 18em;
}

.grid--multi-line-stretch > .grid__col-1 {
  box-sizing: border-box;
  -ms-flex: 0 0 6.33333%;
  flex: 0 0 6.33333%;
  margin: 0 1%;
}

.grid--multi-line-stretch > .grid__col-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 14.66667%;
  flex: 0 0 14.66667%;
  margin: 0 1%;
}

.grid--multi-line-stretch > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1%;
}

.grid--multi-line-stretch > .grid__col-4 {
  box-sizing: border-box;
  -ms-flex: 0 0 31.33333%;
  flex: 0 0 31.33333%;
  margin: 0 1%;
}

.grid--multi-line-stretch > .grid__col-5 {
  box-sizing: border-box;
  -ms-flex: 0 0 39.66667%;
  flex: 0 0 39.66667%;
  margin: 0 1%;
}

.grid--multi-line-stretch > .grid__col-6 {
  box-sizing: border-box;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  margin: 0 1%;
}

.grid--width {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1%;
}

.grid--width > .grid__col-3 {
  box-sizing: border-box;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  margin: 0 1% 2%;
}

.grid--width > .grid__col-100 {
  box-sizing: border-box;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 100px;
  margin: 0 1% 2%;
}

.grid--width > .grid__col-200 {
  box-sizing: border-box;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 200px;
  min-width: 100px;
  margin: 0 1% 2%;
}
